@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

.colors {
  color: #ff0076;
  color: #590fb7;
  color: #2b002b;
  color: #d4af37;
  color: #df98fa;
  color: #9055ff;
}

body {
  /* font-family: "Poppins", sans-serif !important; */
  font-family: "Roboto", "Ubuntu", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #2b002b;
  overflow-x: hidden;
}

/* .head{
  font-family: 'Inspiration', cursive;
} */

/* 
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  } */

.mt-05 {
  margin-top: 70px;
}

.fs-extra {
  font-size: 6em;
}

.theme {
  color: #d4af37;
}

.accent {
  color: #590fb7;
}

.theme-gradient {
  color: linear-gradient(112.92deg, #ff0076 -1.17%, #590fb7 100%);
}

.bg-theme-gradient {
  background: linear-gradient(112.92deg, #ff0076 -1.17%, #590fb7 100%);
}

.logo {
  width: 50%;
}

.bg-theme {
  background-color: #e0b043;
  /* background-color: #562250; */
}

.bg-accent {
  /* background-color: #E0B043; */
  background-color: #590fb7;
}

.bg-none {
  background: none !important;
}

.border-theme {
  border-color: #e0b043;
  /* border-color: #562250; */
}

.border-accent {
  /* border-color: #E0B043; */
  border-color: #590fb7;
}

.text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.612);
}

.bgg {
  /* width: 100%;
  margin: 0px;
  padding: 0px; */
  background-image: url("../img/bg4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
}

/* BUTTONS */
.btn-theme {
  color: white;
  background-color: #e0b043;
  border-radius: 5px;
  border-top: 2px solid #b3851b;
  border-bottom: none;
  border-right: none;
  border-left: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.btn-theme:hover {
  background-color: #ffffff;
  color: #e0b043;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.679);
}

.btn-accent {
  color: white;
  background-color: #590fb7;
  border-radius: 5px;
  border-top: 2px solid #3e0885;
  border-bottom: none;
  border-right: none;
  border-left: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.btn-accent:hover {
  background-color: #ffffff;
  color: #590fb7;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.679);
}

.btn-theme-gradient {
  color: white;
  /* background-color: #590FB7; */
  background: linear-gradient(168deg, #ff0076 -1.17%, #590fb7 100%);
  border-radius: 5px;
  border-top: 3px solid #3e0885;
  border-bottom: none;
  border-right: none;
  border-left: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.btn-theme-gradient:hover {
  background-color: #ffffff;
  background: white;
  color: #590fb7;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.679);
}

/* BUTTONS END */

input,
textarea {
  resize: none;
}

.height-reduced {
  height: 450px;
  overflow-x: hidden !important;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
  border-radius: 15px;
  background-color: #fff;
}

/* SCROLL BAR ENDS*/

/* GLASSMORPHISM */
.glass {
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.glass-gradient {
  background: linear-gradient(
    112.92deg,
    rgba(241, 244, 211, 0.233) -1.17%,
    rgba(97, 97, 96, 0.1) 100%
  );
  /* background: linear-gradient(
        112.92deg, 
        rgba(89, 4, 141, 0.402) -1.17%, 
        rgba(0, 0, 0, 0.197) 100%); */
  /* opacity: 25%; */
}

.bg-gradient {
  background: linear-gradient(
    112.92deg,
    rgba(188, 190, 175, 0.498) -1.17%,
    rgba(73, 73, 71, 0.423) 100%
  );
}

.glass-gradient-accent {
  background: linear-gradient(
    112.92deg,
    rgba(88, 4, 141, 0.538) -1.17%,
    rgba(0, 0, 0, 0.356) 100%
  );
  /* opacity: 25%; */
}

.img-fit {
  object-fit: cover;
  object-position: center;
  width: max-content;
  height: max-content;
}

.layer {
  background-color: rgba(37, 37, 37, 0.148);
  backdrop-filter: blur(3px);
  background-size: cover;
}

.layer-theme {
  background-color: #56225069;
  backdrop-filter: blur(3px);
  background-size: cover;
}

/* FOOTER */
